<!-- 
  jinja2 template to display the node data in a sortable table 
  Requires:
    - headings: list of headings to be displayed
    - data: 2-D array where each row is the data for each host
-->

<!DOCTYPE html>
<head>
  <!-- https://stackoverflow.com/questions/14267781/sorting-html-table-with-javascript -->
  <script type="text/javascript">
    window.onload = function() { 
      const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

      const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
          v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
          )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

      document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
          const table = th.closest('table');
          Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
              .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
              .forEach(tr => table.appendChild(tr) );
      })));
    }
  </script>
</head>
<html>

<title>PLC Monitor</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<body class="w3-container">

<h2>Planetlab Node Monitor</h2>

<p>This page periodically collects the following data for all 704 PLC nodes:</p>

<ul>
  <li><strong>Alive:</strong> A node is considered alive if it has sent a heartbeat in the last hour.</li>
  <li><strong>Uptime:</strong> Percentage of times, in the last 24 hours, that a node was alive.</li>
  <li><strong>SSH Time:</strong> Time taken to establish an ssh connection, in seconds.</li>
  <li><strong>SCP Time:</strong> Time taken to transfer a small (~4KB) plain text file.</li>
  <li><strong>CPU:</strong> Average CPU utilization over 15 min, as reported in the last heartbeat.</li>
  <li><strong>Memory:</strong> Instantaneous memory consumption, as reported in the last heartbeat.</li>
</ul>

<p>Only nodes that have been alive at some point in the last day are displayed.</p>

<table id="myTable" class="w3-table-all">
  <tr>
    {% for heading in headings %}
    <th>{{ heading }} &#x21D5;</th>
    {% endfor %}
  </tr>

  {% for row in living %}
  <tr class="item">
    {% for column in row %}
    <td>{{ column }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<p>The following nodes are dead:</p>

<ul>
  {% for node in dead %}
  <li>{{node}}</li>
  {% endfor %}
</ul>

</body>
</html>